/* AJAX drop down list */
.ajaxDDlist {
    display: none;
    position: absolute;
    border: 1px solid #727272;
    border-top: 0;
    margin: 0;
    padding: 0;
    height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #FFFFFF;
    list-style-type: none;
    list-style-position: outside;
}

.ajaxDDlist > li {
    margin: 0;
    padding: 0;
}

.ajaxDDlist > li > .DDlink,.DDlink:hover {
    display: block;
    padding: 2px;
    text-decoration: none;
}

.ajaxDDlist > li > .DDlink:hover {
    background-color: #CCCCCC;
}

.ajaxInputField {
    width: 190px;
}

/* HTML Pop Up Div */
#htmlPop {
    width: 600px;
    background: #000;
    padding: 10px;
    position: fixed;
    -moz-border-radius: 5px;
}

#htmlPopTitle {
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px;
}

#htmlPopFrame {
    width: 100%;
}

/* Calendar */
#calendarPop {
    padding: 5px;
    background: #CCCCCC;
    border: 1px solid #666666;
}

.calendar {
    width: 100%;
    clear: both;
    font-size: 90%;
}

.calendar th {
    background: #FFFFFF;
}

.calendar td {
    text-align: center;
}

.calendar td a {
    color: #555555;
    display: block;
}

.calendar td.selected {
    background-color:   #00ff70;
}

.monthyearselect {
    background: #FFFFFF;
}

form.clock {
    text-align: center;
}
