/*
** HTML basic elements
*/

body {
  font: 12px Arial;
  color: #333;
  background:url('images/page-bg.png') #FFF repeat-x 0 257px;
  margin:0 0 15px;
 }

h1, h2, h3, h4 {
  font-family: Helvetica, Arial, "Lucida Grande", Verdana, sans-serif; 
  margin: 10px 0 15px 0;
}

h1 {
  font-size: 200%; 
}

h2 {
  font-size: 150%;
}

h3, h3 a {
  font-size: 150%;
  line-height:1.2;
  color: #3B4A25;
  letter-spacing: 0px;
  text-decoration: none;
}

h4 {
  font-size: 120%;
  line-height:1.25; 
  font-weight:bold;
}

h5 {
  font-size: 1em;
  font-weight:bold;
}

h6 {
  font-size: 1em;
}

p {
  margin: 10px 0 15px;
}

a {
  text-decoration: none;
  color: #555;
}

a:hover {
  text-decoration: underline;
}

blockquote {
  margin: 1.5em 0 1.5em 1.5em;
  color: #666;
  background: url('images/quote.png') .5em top no-repeat;
  padding: 0 20px 0 30px;
}

hr {
  background: #B2CCFF; 
  color: #B2CCFF;
  clear: both; 
  float: none; 
  width: 100%; 
  height: 0.1em;
  margin: 0 0 1.4em 0;
  border: none; 
}

pre {
  margin-bottom: 1.3em;
  background: #eee;
  border:0.1em solid #ddd;
  padding:1.5em;
}

input {
  border: 1px solid #cccccc;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

li a.active{
  color: #000;
}

ol {
  margin-left: 35px;
}

/*
 ** Tables
 */

thead th {
  border-bottom: 3px solid #aad0d4;
}

tr.odd td, tr.even td {
  padding: 0.3em;
}

tr.even, tr.odd {
  border-bottom: 1px #aad0d4 solid;
}

tr.odd {
  background: #003380;
}

tr.even {
  background: #ffffff;
}

/*
** Page layout
*/

#wrapper {
 width:950px;
 margin:0 auto;
}

#main {
 float: left;
 width: 100%;
 margin-right: -100%;
}

body.sidebar-left #main-inner {
  margin: 0 0 0 235px;
}

body.sidebar-right #main-inner {
  margin: 0 235px 0 0;
}

body.two-sidebars #main-inner {
  margin: 0 265px 0 235px;
}

#main-inner2 {
  border: 5px solid #003380;
  padding: 8px;
  background:url(images/semi-transparent.png);
  /* background: #fff; */
  width: 100%;
  overflow: hidden;
}

#main-inner2 .content {
  width: 100%;
  overflow: hidden;
}

#sidebar-left, #sidebar-right {
  vertical-align: top;
  z-index:2;
}

#sidebar-left {
 width: 220px;
 float:left;
 margin-right:-220px;
 position:relative;	
}

#sidebar-right {
 width: 220px;
 float:right;
 margin-left:-220px;
 position:relative;
 z-index:2;
}

#header {
  background:#e2eeff url('images/inset-banner.jpg') no-repeat 50% 0pt;
  border-top:1px solid #d9f3f9;
  margin-bottom:15px;
}

#h2 {
 height:185px;
 width:950px;
 margin:0 auto;
}

/*
 ** Header
 */

#header img {
  float:left;
  margin-top:20px;
}

.site-name a {
  color: #fff;
  font-family: Helvetica,Arial,"Lucida Grande",Verdana,sans-serif;
  text-decoration: none;
  margin-top:9px;
  margin-left:15px;
  display:block;
  float:left;
  font-size:40px;
  font-weight:lighter;
  position:relative;
  left:-4px;
}

#subname {
  font-size:60%;
  font-weight: normal;
}

span.clear {
  display: block;
  clear: both;
  height: 1px;
  line-height: 0px;
  font-size: 0px;
  margin-bottom: -1px;
}

.site-slogan {
  color: #333;
  width:100%;
  display:block;
  font-weight:bold;
}

.search-box {
  float:right;
  margin:10px 20px 0 0;
}

.search-box .form-text {
 background: url('images/search.png');
 font-size: 1em;
 color: #000;
 padding: 2px;
}

/*
 ** Navigation
 */

#primary{
  display:block;
  height:56px;
  background: url('images/menu-bg.png');
  width:100%;
}

#primary a {
  white-space: nowrap;
  font-family: Arial Narrow,Helvetica,sans-serif;
  color: #ffffff;
  display: block;
  float: left;
  height: 53px;
  line-height: 53px;
  text-transform: uppercase;
  background: url('images/menu-divider.png') no-repeat 100% 0;
  text-decoration:none;
}
#primary a span{
  padding: 0px 15px;
  display: block;
  height: 53px;
  float:left;
}
#primary a:hover, #primary a:active {
  text-decoration:none;
  color: #cccccc;
  cursor: pointer;
}

#primary a.active, #primary a:hover {
  background: url('images/active-menu-r.png') no-repeat right top;
  color: #000000;
}

#primary .active span,#primary a:hover span {
  background: url('images/active-menu-l.png') no-repeat left top transparent;
}

#primary ul{
  margin: auto;
  width: 950px;
}

#primary ul.links li {
  padding:0;
}

ul.links li {
  padding:0 0.5em 0 0;
}

/*
 ** Blocks
 */

.block h2 {
  font-family: Tahoma,Helvetica,Arial Narrow;
  background:#daeffa url('images/module-h3.png') repeat-x;
  margin: 5px 0 10px;
  font-size: 120%;
  padding: 5px 0 5px 8px;
  color: #fff;
  border: solid #999;
  border-width: 1px 3px;
}

.block, .box {
 padding: 0 0 1.5em 0;
}

.block {
  display:block;
  border: 5px solid #003380;
  background:url(images/semi-transparent.png);
  /* background:#FFF; */
  padding:8px;
}

/*
 ** Forms
 */

fieldset {
  border: 1px solid #aad0d4;
}

/*
 ** Main Content
 */

#mission {
  border:1px solid #cee0e4;
  padding:5px;
}

.messages {
  background-color: #003380;
  border: 1px solid #aad0d4;
  padding: 0.3em;
  margin-bottom: 1em;
}

.error {
  border-color: red;
}

.warning {
  margin: 5px 0;
}

.node .picture {
  border: 1px solid #ddd;
  float: right;
  margin: 0.5em;
}

.node img {
  border:1px solid #CCC;
  margin:5px;
}

.comment .picture {
  border: 1px solid #abc;
  float: right;
  margin: 0.5em;
}

/*
 ** Footer
 */

#footer {
  text-align: center;
  font-size: 0.9em;
  width:950px;
  margin:auto;
}

/*
 ** Titles
 */

.title h2, .title a {
  color: #02576b; 
  font-size: 23px;
  height: 30px;
  line-height: 30px;
  font-family: Tahoma,sans-serif;
  margin-bottom:20px;
  font-weight:lighter;
}

h1.title {
  color: #333; 
}

/*
 ** Taxonomy
 */

.taxonomy, .submitted, .links-node {
  font-size: 11px;
}

.taxonomy li, .links-node li {
  border-right: 1px solid #CCC;
}

.taxonomy li.last {
  border:0;
}

.taxonomy ul.links li {
padding:0 0 0 0.5em;
}

/*
** Module specific styles
*/

/* Aggregator */

.feed-icon img {
  margin-top:15px;
}

#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
}

#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}

#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}

#aggregator h3 {
  margin-top: 1em;
}

/* Forum */

#forum table {
  width: 100%;
}

#forum td {
  padding: 0.5em;
}

#forum td.forum a{
  text-decoration:none;
}

#forum td.forum, #forum td.posts {
  background-color: #003380;
}

#forum td.topics, #forum td.last-reply {
  background-color: #003380;
}

#forum td.container {
  background-color: #cee1e7;
}

#forum td.container a {
  color: #555;
  text-decoration:none;
}

#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}

#forum td .name {
  color: #96c;
}

#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}

.block-forum h3 {
  margin-bottom: .5em;
}

/* Profile */

#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em;
}

#profile .profile .name {
  padding-bottom: 0.5em;
}

/* Poll */

.poll .bar {
  background:#E7E7E7;
  border:#9C9C9C 1px solid;
}

.poll .bar .foreground{
  background:#CECDCE;
  border-right:#9C9C9C 1px solid;
}

/* Image */

.block-image IMG{
  border:1px solid #CECECE; padding:3px;
}

/* User */

.block-user ul li{
  list-style-type:none;
  list-style-image:none;
}

#block-user-0 ul {
  padding: 3px 2em 3px 0;
}

#block-user-1 {
  line-height: 25px;
  font-size:14px;
}

/*
 ** Admin Pages
 */

div.admin-panel .description {
  color: #999;
}

div.admin-panel .body {
  background: #003380;
}

div.admin-panel h3 {
  background-color: #aad0d4;
  color: #333;
  padding: 5px 8px 5px;
  margin: 0;
}

/* SLiMS */
.detailLink, .xmlDetailLink {
  padding: 1px;
  border: 1px solid #999999;
  text-decoration: none;
  background-color: #CCCCCC;
}

.xmlDetailLink {
  background-color: #FF9900;
}

.xmlResultLink {
  padding: 1px;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
}

.item {
  min-height: 70px;
  text-align: left;
  margin: 5px;
  margin-bottom: 10px;
  padding: 5px;
  padding-top: 1px;
  padding-left: 53px;
  background: url(images/image.png) top left no-repeat;
}

.item a,.item a:hover {
  font-weight: bold;
}

.item .titleField {
  font-size: 120%;
}

.item .detailLink {
  font-size: 10px;
}

.item .xmlDetailLink {
  font-size: 10px;
  background-color: #FF9900;
}

.subItem {
  margin-top: 3px;
}

.margin-top {
  margin-top: 5px;
}

.block input[type=text], .block select {
  width: 90%;
  display: block;
  margin-top: 3px;
}

.pagingList {
  font-weight: bold;
  font-size: 110%;
}

.pagingList a, .pagingList b {
  font-weight: bold;
  font-size: 110%;
  display: block;
  float: left;
  padding: 5px;
  background: #003380 url('images/module-h3.png') repeat-x;
  color: #fff;
  margin-left: 3px;
}

.pagingList b {
  background: none;
  color: #003380;
}

.tblHead {
  font-weight: bold;
}

#loginForm {
  padding: 10px;
  padding-top: 120px;
  background: #003380 url(images/login-bg.png) top left no-repeat;
  width: 400px;
  margin: 0 auto;
}