<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr"><head><title><!--PAGE_TITLE--></title><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" href="webicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="webicon.ico" type="image/x-icon" />
<link href="<!--CSS-->" rel="stylesheet" type="text/css" />
<!--METADATA-->
</head>
<body>

<table id="main" cellpadding="0" cellspacing="0" width="100%">
<!-- main menu -->
<tr>
<td id="barTop"><strong id="librarySubName"><!--LIBRARY_SUBNAME--></strong></td>
</tr>
<!-- main menu end -->

<!-- header -->
<tr>
<td id="mainHeader"><h3 id="libraryName"><!--LIBRARY_NAME--></h3>
<a class="menu" href="index.php"><!--__('Home')--></a>&nbsp;&nbsp;
<a class="menu" href="index.php?p=libinfo"><!--__('Library Information')--></a>&nbsp;&nbsp;
<a class="menu" href="index.php?p=help"><!--__('Help on Search')--></a>&nbsp;&nbsp;
<a class="menu" href="m/index.php?fullsite=1">Full Site</a>
</td>
</tr>
<!-- header end -->

<!--body-->
<tr>
<!-- main content -->
<td id="mainContent" valign="top">
<!--HEADER_INFO-->
<div id="infoBox">
<table width="100%">
    <tr>
        <td width="60%">
            <form name="simpleSearch" action="index.php" method="get">
            <input type="text" name="keywords" style="width: 70%;" />
            <input type="submit" name="search" value="<!--__('Search')-->" />
            </form>
        </td>
        <td width="40%" align="right">
            <form name="langSelect" action="index.php" method="get">
            <select name="select_lang"><!--LANGUAGE_SELECT--></select>
            <input type="submit" name="changeLang" value="Change Language" />
            </form>
        </td>
    </tr>
</table>
<!--INFO-->
</div>
<!--MAIN_CONTENT-->
<br />
</td>
<!-- main content end -->
</tr>
<!--body end-->

</table>

</body>
</html>
