body {
  margin: 0;
  margin-top: 5px;
  background: #a1cf2f url(media/bg.gif) repeat;
}

* {
  font-family: Helvetica, Arial;
  font-size: 11px;
  color: #666;
}

#header {
  background: url(media/logo.png) left center no-repeat;
  padding-left: 80px;
  height: 100px;
}

#app-title {
  margin-top: 20px;
}

#app-title a {
  color: #666;
  font-size: 21px;
  text-decoration: none;
}

#app-title div {
  font-size: 17px;
  color: #a1cf2f;
}

#side-menu {
  width: 180px;
  margin-right: 0;
}

#side-menu form {
  margin-bottom: 10px;
}

#side-menu select,input[type=text] {
  display: block;
  width: 90%;
}

#main-content {
  width: 740px;
  padding: 5px;
  background: #fff url(media/main-bg.png) top left repeat-x;
}

#nav-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav-links li {
  margin: 0;
  padding: 0;
}

#nav-links li a {
  padding: 5px;
  padding-left: 10px;
  display: block;
  font-weight: bold;
  text-decoration: none;
  background: #ccc url(media/nav-link-bg.png) top left repeat-x;
}

#nav-links li a:hover {
  text-decoration: underline;
  background: #fff url(media/nav-link-bg-hover.png) top left repeat-x;
}

#nav-links li.nav-links-header a {
  padding: 5px;
  display: block;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  background: #fff;
}

.nav-links-header a {
  color: #000;
}

#headerInfo {
  padding: 5px;
}

#info-box {
  background: #fff;
  border: 1px solid #999;
  padding: 5px;
}

#loginForm {
  padding: 10px;
  padding-top: 120px;
  background: #ffd700 url(media/login-bg.png) top left no-repeat;
  width: 400px;
  margin: 0 auto;
}

/*
 * Tabs CSS
 * Primary menu tabs
 */

div.tabs
{
  margin: 0 0 0 0;
}

#primary-links
{
  margin: 0;
  margin-left: 0px;
  padding: 0 0 0 10px;
  border-width: 0;
  list-style: none;
  white-space: nowrap;
  line-height: normal;
  background: url(media/tab-bar.png) repeat-x left bottom;
}

#primary-links li
{
  float: left;
  margin: 0;
  padding: 0;
}

#primary-links li a
{
  display: block;
  height: 24px;
  margin: 0;
  padding: 0 0 0 5px; /* width of tab-left.png */
  border-width: 0;
  font-weight: bold;
  text-decoration: none;
  color: #777;
  background-color: transparent;
  background: url(media/tab-left-new.gif) no-repeat left -38px;
}

#primary-links li a span
{
  display: block;
  height: 20px; /* 24px (parent) - 4px (padding) */
  margin: 0;
  padding: 4px 13px 0 6px;
  border-width: 0;
  line-height: 20px;
  background: url(media/tab-right-new.gif) no-repeat right -38px;
  cursor: pointer;
}

#primary-links li a:hover
{
  border-width: 0;
  background-color: transparent;
  background: url(media/tab-left-new.gif) no-repeat left -76px;
}

#primary-links li a:hover span
{
  background: url(media/tab-right-new.gif) no-repeat right -76px;
}

#primary-links li.active a, #primary-links li.active a:hover
{
  border-width: 0;
  color: #000;
  background-color: transparent;
  background: url(media/tab-left-new.gif) no-repeat left 0;
}

#primary-links li.active a span, #primary-links li.active a:hover span
{
  background: url(media/tab-right-new.gif) no-repeat right 0;
}


/* IE */

#primary-links li a, #primary-links li a span
{
  _display: inline; /* Otherwise the blocks mistakenly get 100% width in IE5 */
  _di\splay: inline-block; /* Otherwise the blocks mistakenly get 100% width in IE6 */
}

#primary-links
{
  _width: 100%; /* Otherwise IE5 treats the ul as floated */
  _w\idth: auto; /* Reset to auto width for IE6 */
}

#footer {
  border: 1px solid #999;
  padding: 5px;
  margin-top: 5px;
  width: 920px;
}

.datagrid {
  width: 100%;
  border: 1px solid #999;
  border-bottom: 0;
  border-top: 0;
  border-spacing: 0;
}

.datagrid-action {
  padding: 3px;
  border: 1px solid #999;
}

.datagrid-head {
  background-color: #ccc;
  border-bottom: 1px solid #999;
  padding: 0;
}

.datagrid-head a {
  display: block;
  font-weight: bold;
  font-size: 1.1em;
  padding: 5px;
}

.datagrid-head span.datagrid-head-plain {
  display: block;
  font-weight: bold;
  font-size: 1.1em;
  padding: 5px;
}

.datagrid-content {
  font-size: 1em;
  border-bottom: 1px solid #999;
  padding: 3px;
}

.datagrid-links {
  display: block;
  float: left;
  background: transparent url(media/detail.png) left center no-repeat;
  width: 20px;
  height: 20px;
  text-decoration: none;
}

.alter-row {
  background: #a1cf2f;
}

.alter-row2 {
  background: #fff;
}

.spacer {
   height: 5px;
}

.block-header {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #999;
  color: #a1cf2f;
}

.container_12 {
  background: #fff url(media/header-bg.png) right top no-repeat;
  border: 1px solid #777;
}

.error {
  border: 1px dotted #f00;
  color: #f00;
  padding: 3px;
  margin: 3px;
}

/* OPAC List */
.detailLink, .xmlDetailLink {
    padding: 1px;
    border: 1px solid #999999;
    text-decoration: none;
    background-color: #CCCCCC;
}

.xmlDetailLink {
    background-color: #FF9900;
}

.xmlResultLink {
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 12px;
    font-weight: bold;
    background-color: #003380;
    text-decoration: none;
    color: #FFFFFF;
}

.item {
    min-height: 70px;
    text-align: left;
    margin: 5px;
    margin-bottom: 10px;
    padding: 5px;
    padding-top: 1px;
    padding-left: 53px;
    background: url(media/image.png) top left no-repeat;
}

.item a,a:hover {
    font-size: 12px;
    font-weight: bold;
}

.item a:hover {
    text-decoration: none;
    color: #459801;
}

.item .detailLink {
    font-size: 10px;
}

.item .xmlDetailLink {
    font-size: 10px;
    background-color: #FF9900;
}

.subItem {
    margin-top: 3px;
}

.marginTop {
    margin-top: 5px;
}

.tblHead {
  font-weight: bold;
  color: #a1cf2f;
}

.tblHead,.tblContent {
  border-bottom: 1px solid #ccc;
}
