div#my-glider-horizontal div.scroller { 
	/* modify width and height of scrolling section if necessary	*/		
	width: 580px ;
	height: 132px;
	overflow: hidden;
	border:1px solid #cccccc;
    margin: 5px;
	}
	div#my-glider-horizontal div.scroller div.section {
		/* modify width and height of each section as needed (should match the size of the scroller window)	*/		
		width:570px;
		height:132px;
		overflow:hidden;
		float:left;
		padding:1em;		
		}
	div#my-glider-horizontal div#section2 {
		background:#666666;
		color:#ffffff;
		}
	div#my-glider-horizontal div#section4 {
		background:#666666;
		color:#ffffff;
		}
		
div#my-glider-vertical div.scroller { 
	/* modify width and height of scrolling section if necessary	*/		
	width: 720px;
	height: 132px;
	overflow: hidden;
	border:1px solid #cccccc;
	}
	div#my-glider-vertical div.scroller div.section {
		/* modify width and height of each section as needed (should match the size of the scroller window)	*/		
		width:720px;
		height:132px;
		overflow:hidden;
		/*float:left;*/
		padding:1em;		
		}
	div#my-glider-vertical div.scroller div.content {
		width: 10000px;
		}
	div#my-glider-vertical div#section2 {
		background:#666666;
		color:#ffffff;
		}

.active {
	background-color: #000;
	color: #fff;
	}		
		
		
		
